<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Scrabble Score</title>
</head>
<body>
  <div class="container">
    <h1>Scrabble Score</h1>
    <h4>Letters given: {{ letters }}</h4>
    <h4>Score: {{ score }}</h4>
  </div>
  <form class="center" action="/">
    <button type="submit" class="btn-primary">Return Home</button>
  </form>
</body>
</html>
