<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Find and Replace</title>
</head>
<body>
  <div class="container">
    <h1>Find and Replace</h1>
    <h4>Original phrase: {{ big_string }}</h4>
    <h4>Word to replace: {{ to_replace }}</h4>
    <h4>Replacement: {{ replacement }}</h4>
    <h5>Final phrase: {{ new_sentence }}</h5>
  </div>
  <form class="center" action="/">
    <button type="submit" class="btn-primary">Return Home</button>
  </form>
</body>
</html>
