<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Find and Replace</title>
</head>
<body>
  <div class="container">
    <h1>Find and Replace a word</h1>
    <p>A user enters a string, chooses a word in that string and provides a replacement for that word.</p>
  </div>
  <form class="center" action="/generate" method="post">
    <div class="row">
      <span><strong>Enter a word:</strong></span>
      <div class="radio">
        <label><input type="radio" name="player1" value="rock">rock</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="player1" value="paper">paper</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="player1" value="scissors">scissors</label>
      </div>
    </div>
    <div class="row">
      <span><strong>Player 2</strong></span>
      <div class="radio">
        <label><input type="radio" name="player2" value="rock">rock</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="player2" value="paper">paper</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="player2" value="scissors">scissors</label>
      </div>
    </div>
    <div>
      <button type="submit" class="btn-primary">Play!</button>
    </div>
  </form>
</body>
</html>
