<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Scrabble Score</title>
</head>
<body>
  <div class="container">
    <h1>Scrabble Score</h1>
    <p>Takes a word and returns the Scrabble score.</p>
  </div>
  <form class="center" action="/generate" method="post">
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="letters">Enter word or unseperated letters:</label>
        <input id="letters" name="letters" type="text" maxlength="200" required>
      </div>
    </div>
    <div>
      <button type="submit" class="btn-primary">Get Score!</button>
    </div>
  </form>
</body>
</html>
